.underlined-text {
    border-bottom: 3px solid rgb(239, 119, 72);
    display: inline-block;
    padding-bottom: 5px;
    border-radius: 1px;
   
  }

.text {
    display: inline-block;
    padding-bottom: 5px;
  }

.tab-style {
   white-space: nowrap;
    display: flex;
    gap: 20%;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

.filter-div {
  display: flex;
  justify-content: normal;
  gap: 60%;
  margin: 0 5% 0 5%;
  height : 60px;
  align-items: center;
}

.firstfilter {
  display: block;
  font-size: 12px;
}

.firstfilter button:hover{
  background-color: #25A5B5; 
  color: white;
  border: 1px white solid
}

.firstfilter img{
  width: 20px;
  height: 20px;
}

.dropdown-toggle {
  background-color: #fff;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  border: 1px black solid;
}

  @media (max-width: 599px){
    .tab-style {
        align-items: center;
        margin: auto;
        display: flex;
        gap: 25%;
        font-size: 14px;
        color: white;
        white-space: nowrap;
        justify-content: center;
      }

      .filter-div {
        display: block;
      }

      .firstfilter img {
        margin: auto;
        padding-left: 22px;
        margin: -6px;
      }

      .dropdown-toggle {
        font-size: 14px;
        padding: auto;
        text-align: center;
        vertical-align: middle;
      }
  }