.underlined-text {
    border-bottom: 3px solid rgb(239, 119, 72);
    display: inline-block;
    padding-bottom: 5px;
    border-radius: 1px;
   
  }

.text {
    display: inline-block;
    padding-bottom: 5px;
  }

.tab-style {
    align-items: end;
    margin-left: 70%;
    display: flex;
    gap: 10%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    
  }

  @media (max-width: 599px){
    .tab-style {
        align-items: center;
        margin: auto;
        display: flex;
        gap: 25%;
        font-size: 14px;
        color: white;
        white-space: nowrap;
        justify-content: center;
      }
  }