/* Form.css */
.my-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.buttondisplay button {
  height: 40px;
  width: 120px;
  font-size: 18px;
  background-color: #07779A;
  color: white;
  border-radius: 4px;
  /* margin: 30px; */
}

.buttondisplay button:hover {
  font-size: 18px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.form-group {
  margin-bottom: 15px;
  font-family: "Manrope";
}

.buttondisplay {
  display: flex;
  gap: 200px;
  margin-left: 35%;
  margin-top: 20px;
  padding-top: 20px;
}

.buttondisplay1 button{
  height: 40px;
  width: 120px;
  font-size: 18px;
  background-color: #07779A;
  color: white;
  border-radius: 4px;
}

.buttondisplay1 button:hover {
  font-size: 18px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}


label {
  display: block;
  font-weight: 600;
  color: #de7247;
  text-align: left;
  font-size: 18px;
  margin-left: 3px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"]{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 35px;
  font-size: 16px;
  padding-left: 2.5%;
}

.check{
  display: flex;
  align-items: left;
  padding-top: 10px;
  color: #b88787;
}

.check label {
  color: #07779A;
}

option {
  background-color: #f0f0f0; /* Set a background color */
  color: #060606; /* Set the text color */
}

button {
  background-color: #07779A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #07779A;
}

.submitted-data {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: #e9f6e9;
}

.submitted-data h2 {
  font-size: 1.2em;
  color: #4caf50;
}

.form_meta {
  font-size: 35px;
  color: #07779A;;
  font-weight: 600;
}
