.footer_content {
  text-align: left;
  font-size: 14px;
  display: flex;
  padding: 20px 50px;
  gap: 65px;
  margin-top: 40px;
  background-color: #C5F1FF;
}

.footer_content a {
  color: black;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer_content a:hover{
  color: blue;
}

.footer_content p {
  font-weight: bold;
  margin-bottom: 25px;
  white-space: nowrap;
  display: block;
}

.footer_block {
  display: inline-block;
  gap: 10px;
  width: fit-content;
}

.footer_logo {
  width: 35%;
  padding-left: 70px;
}
.footer_logo img {
  width: 50%;
  margin: 5px 0px 10px 10px;
}

.footer_logo p {
  font-weight: 100;
  width: 80%;
  white-space: inherit;
}

.footer_logo a{
  display: inline;
  text-decoration: underline;
}

.footer_block .footer_heading {
  font-weight: 800;
}

.footer_block .footer_email {
  text-decoration: underline;
}


@media (max-width: 599px) {
  .footer_content{
    display: flex;
    flex-direction: column-reverse;
    padding : 5px 20px;
    font-size: 12px;
    gap: 20px;
    background-color: white;
  }

  .footer_block{
    display: block;
    width:100%;
  }

  .footer_heading{
    width: 80%;
    display: flex;
    margin-bottom: -25px;
    justify-content: space-between;
  }

  .footer_heading p {
    margin-top: 5px;
  }

  .drop-down-icon {
    width: 25px;
    height: 25px
  }

  .footer_logo img {
    padding-top: 15px;
    width: 32%;
    margin-left: 0px;
  }

  .footer_logo {
    width: 80%;
    padding-left: 0px;
  }
  .footer_logo p {
    width: 100%;
    font-size: 10.5px;
  }

  .footer_logo .blue_line {
    border: 0.5px solid #a9e1f1;
    position: relative;
    width: 140%;
    left: -35px;
    margin-bottom: 4px;
    height: 0.05px;
  }


  .footer_content a {
    margin-bottom: 8px;
  }

  .footer_link {
    margin-top: 20px;
  }
}