.card1 {
  background-color: #fff;
  padding: 0px;
  border: 2px;
  border-radius: 5px;
  margin: 0px;
}

.register_button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.register_button button {
  height: 40px;
  width: 150px;
  font-size: 18px;
  background-color: #0896c2;
  color: white;
}

.register_button button:hover {
  font-size: 18px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.title {
  width: 75%;
}
.about {
  display: flex;
  justify-items: flex-start;
}
.about_img {
  width: 50%;
  height: 50%;
}

.about_img img {
  width: 40%;
  margin-left: 20%;
}
.about_img1 {
  width: 40%;
  height: 50%;
  margin-right: 13%;
}

.about_img1 img {
  width: 65%;
  padding-right: 100%;
}
.about_content {
  width: 50%;
  height: 300px;
  text-align: left;
  font-family: "Franklin Gothic Medium";
  font-weight: bold;
  text-decoration: none solid rgb(222, 114, 71);
}

.demo_content {
  width: 50%;
  height: 300px;
  text-align: left;
  margin-left: 20%;
  font-weight: bold;
  font-family: "Franklin Gothic Medium";
  text-decoration: none solid rgb(222, 114, 71);
}

.sub-cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(110, 191, 215);
}
.sub-cards-grid h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 0px;
}

.sub-card {
  background-color: #fff;
  border: 3px solid rgb(222, 114, 71);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: min-content;
  margin-left: 14%;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.sub-card:hover {
  transform: scale(1.03);
}

.sub-card h3 {
  font-size: 25px;
  color: rgb(222, 114, 71);
  margin-top: 0px;
  /* margin-bottom: 5px; */
}
.description {
  color: black;
}
.sub-card p {
  font-size: 18px;
  color: rgb(110, 191, 215);
  margin-top: 0px;
}

.button {
  border: #333;
}

h1 {
  color: rgb(222, 114, 71);
  font-weight: 900;
  font-size: 50px;
  /* margin-top: 5px; */
}
.p1 {
  color: black;
  font-size: 18px;
  width: 50%;
  font-weight: 500;
}

h4 {
  color: rgb(222, 114, 71);
  font-weight: 500;
  font-size: 50px;
}

.submitpage {
  display: flex;
  gap: 275px;
  justify-content: center;
  align-items: center;
}

.submitpage button {
  height: 58px;
  width: 272px;
  font-size: 18px;
  background-color: #0896c2;
  color: white;
}

.submitpage button:hover {
  font-size: 22px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.submitpage p {
  font-size: 70px;
  color: #de7247;
}

.subcard .description {
  color: black;
  font-size: 15px;
}

.class_card {
  display: flex;
}
.class_card1 {
  width: 30%;
  margin: 0px 20px;
  padding-top: 40px;
}
.class_card1 img {
  border-radius: 10px;
}
.class_card2 {
  width: 30%;
  margin: 20px 20px;
}
/* .class_card2 p {
  margin: 0px;
} */
.class_card3 {
  width: 30%;
  margin: 20px 20px;
}

.sub-card button {
  font-size: 14px;
  background-color: #0896c2;
  color: white;
}

.sub-card button:hover {
  font-size: 12px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width: 90%;
}

.footer_content {
  text-align: left;
  font-size: 18px;
}

.footer_content a {
  color: #0896c2;
}

.footer_content p {
  margin-bottom: 3px;
}

.loaderClass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
