.card1 {
  background-color: #fff;
  padding: 0px;
  border: 2px;
  border-radius: 5px;
  margin: 0px;
}

.register_button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.register_button button {
  height: 40px;
  width: 150px;
  font-size: 18px;
  background-color: #0896c2;
  color: white;
}

.register_button button:hover {
  font-size: 18px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.title {
  width: 75%;
}
.about {
  display: flex;
  justify-items: flex-start;
}
.about_img {
  width: 50%;
  height: 50%;
}

.about_img img {
  width: 40%;
  margin-left: 20%;
}
.about_img1 {
  width: 40%;
  height: 50%;
  margin-right: 13%;
}

.about_img1 img {
  width: 65%;
  padding-right: 100%;
}
.about_content {
  width: 50%;
  height: 300px;
  text-align: left;
  font-weight: bold;
  text-decoration: none solid rgb(222, 114, 71);
}

.demo_content {
  width: 50%;
  height: 300px;
  text-align: left;
  margin-left: 20%;
  font-weight: bold;
  text-decoration: none solid rgb(222, 114, 71);
}

.sub-cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  margin-left: 5px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: rgb(110, 191, 215);
}
.sub-cards-grid h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 0px;
}

.sub-card {
  background-color: #fff;
  border: 3px solid rgb(222, 114, 71);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 81%;
  height: min-content;
  margin-left: 14%;
  margin-bottom: 15px;
  margin-top: 7px;
  transition: transform 0.3s;
}

.sub-card:hover {
  transform: scale(1.03);
}

.sub-card h3 {
  font-size: 25px;
  color: rgb(222, 114, 71);
  margin-top: 0px;
  text-align: left;
  /* margin-bottom: 5px; */
}
.description {
  color: black;
  text-align: left;
}
.sub-card p {
  font-size: 18px;
  color: rgb(110, 191, 215);
  margin-top: 0px;
}

.button {
  border: #333;
}

h1 {
  color: rgb(222, 114, 71);
  font-weight: 900;
  font-size: 50px;
  /* margin-top: 5px; */
}
.p1 {
  color: black;
  font-size: 18px;
  width: 50%;
  font-weight: 500;
}

h4 {
  color: rgb(222, 114, 71);
  font-weight: 500;
  font-size: 50px;
}

.submitpage {
  display: flex;
  gap: 275px;
  justify-content: center;
  align-items: center;
}

.submitpage button {
  height: 58px;
  width: 272px;
  font-size: 18px;
  background-color: #0896c2;
  color: white;
}

.submitpage button:hover {
  font-size: 22px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.submitpage p {
  font-size: 70px;
  color: #de7247;
}

.subcard .description {
  color: black;
  font-size: 15px;
}

.class_card {
  display: flex;
}
.class_card1 {
  width: 20%;
  margin: 0px 20px;
  padding-top: 40px;
}
.class_card1 img {
  border-radius: 10px;
}
.class_card2 {
  text-align: left;
  width: 45%;
  margin: 20px 20px;
}
.class_card2 h3 {
  margin-bottom: 35px;
}
.class_card3 {
  width: 30%;
  margin: 20px 20px;
  color : black;
  font-weight: 500;
}

.class_card3 h3{
  font-size: 22px;
}

.sub-card button {
  font-size: 14px;
  background-color: #0896c2;
  color: white;
}

.sub-card button:hover {
  font-size: 12px; /* Font size on hover */
  color: white; /* Text color on hover */
  background-color: #de7247; /* Background color on hover */
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width: 90%;
}

.footer_content {
  text-align: left;
  font-size: 18px;
}

.footer_content a {
  color: #0896c2;
}

.footer_content p {
  margin-bottom: 3px;
}

.loaderClass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.scrollClass {
  width: 90%;
  max-height: 642.8px; /*638.2px if we wanted to show 2 class + initial part of 3rd class */
  overflow-y: auto;
  align-items: center;
}

#scrollClass1::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#scrollClass1::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
#scrollClass1::-webkit-scrollbar-thumb {
  background: rgb(239, 148, 111);
}

/* Handle on hover */
#scrollClass1::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0896c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d4b4b;
}

.separator {
  flex: 0 0 1px;
  width: 1px; /* Width of the vertical line */
  background-color: #000; /* Line color */
}

.class_footer h3 {
  font-size: 14px;
  color: black;
}

.class_footer p {
  font-size: 18px;
  font-family: helvetica;
  color: black;
  text-align: left;
  margin-left: 2.5%;
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-bottom: -5px;
}


.guidance {
  display: flex;
  justify-content: space-evenly;
  height: min-content;
  width: 60%;
  margin: 0 auto;
}


.guidance p{
  font-size: 22px;
  font-weight: bold;
  margin-right: 60px;
}

.guidance img{
  width: 4%;
  height: 4%;
  margin: auto;
}

.thick_line {
  border-top: 5px solid rgb(239, 119, 72); 
  width: 60%;
  margin: 0 auto -12px auto;
}

.thin_line {
  border-top: 2px solid rgb(239, 119, 72); 
  width: 60%;
  margin: -12px auto 15px auto;
}

 h2{
  font-size: 30px;
  color: #0297c4;
  margin-bottom: 10px;
}