@media (max-width: 599px) {
  .card1 {
    background-color: #fff;
    padding: 0px;
    border: 2px;
    border-radius: 5px;
    margin: 0px;
  }

  .register_button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
  .register_button button {
    height: 40px;
    width: 150px;
    font-size: 18px;
    color: white;
  }

  .register_button button:hover {
    font-size: 18px; /* Font size on hover */
    color: white; /* Text color on hover */
    background-color: #FF7F50; /* Background color on hover */
  }

  .title {
    width: 50%;
  }

  .about {
    display: block;
    height: min-content;
  }

  .about_img {
    width: 50%;
    height: 50%;
  }

  .about_img img {
    width: 90%;
   margin: 15% auto 0px auto;
  }
  .about_img1 {
    width: 40%;
    height: 50%;
    margin: 0 auto;
  }

  .about_img1 img {
    width: 110%;
    margin: auto;
  }
  .about_content {
    width: 100%;
    text-align: center;
    text-decoration: none solid #FF7F50;
  }
  .about_content h1 {
    font-size: 38px;
    margin: 50px auto 30px auto;
  }

  .about_content p {
    text-align: center;
    font-weight: 100;
    width: 80%;
    margin: auto;
  }

  .p1 {
    color: black;
    font-size: 15px;
    width: 80%;
    font-weight: 500;
    font-family: helvetica;
    line-height: 1.8;
  }

  .demo {
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    height: 400px;
  }

  .demo_content {
    width: 100%;
    height: 270px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none solid #FF7F50;
  }
  .demo_content p {
    line-height: 1.8;
    margin: auto;
  }

  .demo_content h1 {
    font-size: 38px;
  }
  .sub-cards-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    /* padding: 30px; */
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-overflow-scrolling: touch;
    background-color: #25A5B5;
  }
  .sub-cards-grid h1 {
    color: #fff;
    font-family: "Poppins";
    font-size: 30px;
    margin-bottom: 0px;
  }

  .sub-card {
    background-color: #fff;
    border: 3px solid #FF7F50;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: min-content;
    margin: 25px auto;
    transition: transform 0.3s;
    cursor: pointer;
  }

  #animation {
    animation: classCardAnimation 0s ease-in-out;
  }

  .sub-card:hover {
    transform: scale(1);
  }

  .sub-card h3 {
    font-size: 25px;
    color: #FF7F50;
    margin-top: 0px;
    text-align: left;
    /* margin-bottom: 5px; */
  }
  .sub-card p {
    font-size: 18px;
    margin-top: 0px;
    font-family: "Manrope";
  }

  .sub-card1 {
    background-color: #fff;
    border: 3px solid #FF7F50;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: min-content;
    margin: 10px auto;
    transition: transform 0.3s;

    cursor: pointer;
  }

  .sub-card1:hover {
    transform: scale(1);
  }

  .sub-card1 h3 {
    font-size: 25px;
    color: #FF7F50;
    margin-top: 0px;
    text-align: left;
    /* margin-bottom: 5px; */
  }
  .sub-card1 p {
    font-size: 18px;
    margin-top: 0px;
    font-family: "Manrope";
  }

  .button {
    border: #333;
  }

  h1 {
    color: #FF7F50;
    font-weight: 900;
    font-size: 50px;
    /* margin-top: 5px; */
  }

  h4 {
    color: #FF7F50;
    font-weight: 500;
    font-size: 50px;
  }

  .submitpage {
    display: block;
    gap: 275px;
    justify-content: center;
    align-items: center;
  }

  .submitpage button {
    height: 58px;
    width: 272px;
    font-size: 18px;
    color: white;
  }

  .submitpage button:hover {
    font-size: 22px; /* Font size on hover */
    color: white; /* Text color on hover */
    background-color: #de7247; /* Background color on hover */
  }

  .submitpage p {
    font-size: 50px;
    color: #de7247;
    font-family: helvetica;
  }

  .subcard .description {
    color: black;
    font-size: 15px;
  }

  .class_card {
    display: flex;
    flex-direction: column;
    height: min-content;
  }
  .class_card1 {
    width: 90%;
    margin: 0px auto;
    padding-top: 10px;
  }
  .class_card1 img {
    border-radius: 10px;
    width: 80%;
  }
  .class_card2 {
    text-align: left;
    width: 100%;
    margin: 20px auto 0 auto;
    font-weight: 600;
  }
  .class_card2 h3 {
    font-size: 20px;
    text-align: center;
    height: min-content;
    margin-bottom: 20px;
  }

  .class_card2 p {
    font-size: 14px;
    display: flex;
    margin-left: 20px;
  }

  .duration {
    display: flex;
  }
  .class_card3 {
    width: 100%;
    margin: 0px 20px auto 10px;
    color: black;
    font-weight: 500;
  }

  .class_card3 h3 {
    font-size: 18px;
  }

  .sub-card button {
    font-size: 14px;
    color: white;
  }

  .sub-card button:hover {
    font-size: 12px; /* Font size on hover */
    color: white; /* Text color on hover */
    background-color: #de7247; /* Background color on hover */
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-bottom: 5%;
    margin-top: 0 auto;
    gap: 1px;
  }

  .footer img {
    width: 90%;
  }

  .footer_content {
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
  }

  .footer_content a {
    color: #0896c2;
  }

  .footer_content p {
    margin-bottom: 3px;
  }

  
  .loaderClass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .scrollClass {
    width: 99%;
    overflow-y: auto;
    max-height: 840px;
    overflow-x: hidden;
    align-items: center;
    margin: auto auto 0 auto;
  }


  #scrollClass1::-webkit-scrollbar {
    width: 0px;
  }

  #scrollClass1::-webkit-scrollbar-track {
    background: #fff;
  }

  #scrollClass1::-webkit-scrollbar-thumb {
    background: rgb(239, 148, 111);
  }

  #scrollClass1::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .separator {
    flex: 0 0 1px;
    width: 0px; /* Width of the vertical line */
    background-color: #4b4949; /* Line color */
    min-height: 8%;
    
  }

  .class_footer h3 {
    font-size: 18px;
    color: black;
    margin: 20px 0 10px 2.5%;
  }

  .class_footer h5 {
    font-size: 16px;
    color: rgb(74, 72, 72);
    margin: 5px 0 0 2.5%;
    text-align: left;
    font-weight: bold;
    font-stretch: wider;
  }

  .class_footer p {
    font-size: 16px;
    color: rgb(80, 76, 76);
    text-align: left;
    margin: 10px 0 5px 4%;
  }

  .description {
    display: flex;
  }
  
  .description img {
    width : 18px;
    height : 18px;
  }
  .icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-left: 5px;
    margin-bottom: -50px;
  }

  .guidance {
    display: flex;
    justify-content: space-evenly;
    height: min-content;
    width: 80%;
    margin: 0 auto 0 auto;
  }

  .guidance p {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
  }

  .guidance img {
    width: 0%;
    height: 0%;
    margin: auto 3px;
  }

  #next {
    width: 4%;
    height: 4%
  }
  
  .thick_line {
    border-top: 5px solid #FF7F50;
    width: 80%;
    margin: 0 auto -5px auto;
  }

  .thin_line {
    border-top: 2px solid #FF7F50;
    width: 80%;
    margin: -5px auto 20px auto;
  }

  .message {
    color:#07779A;;
    font-size: 14px;
    width: 90%;
    margin: 10px auto 30px auto;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .about_teacher {
    display: flex;
    flex-direction: column;
  }

  .about_teacher img {
    width: 45%;
    height: auto;
    border-radius: 5px;
    margin-left: 15px;
  }
  .enrollAnimation {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0 15px 0 15px;
    /* transform: scale(1.1); */
    animation: translateFromNegative 0s ease-in-out;
  }

  .card1 h1{
    font-size: 26px;
  }
  
  @keyframes classCardAnimation {
    0% {
      transform: translateX(-100px);
    }
    50% {
      transform: translateX(35px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes classCardAnimation1 {
    0% {
      transform: translateX(100px);
    }
    50% {
      transform: translateX(-35px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media (max-width: 599px) {
  .my-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }


  .buttondisplay button {
    height: 40px;
    width: 50%;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
  }

  .buttondisplay button:hover {
    font-size: 18px; /* Font size on hover */
    color: white; /* Text color on hover */
    background-color: #de7247; /* Background color on hover */
  }


  .buttondisplay1 button {
    height: 40px;
    width: 40%;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 4%;
  }

  .buttondisplay1 button:hover {
    font-size: 18px; /* Font size on hover */
    color: white; /* Text color on hover */
    background-color: #de7247; /* Background color on hover */
  }


  .form-group {
    margin-bottom: 15px;
    font-family: "Manrope";
  }

  .buttondisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-left: 28%;
    padding-top: 0px;
    gap: 0px;
    
  }

  label {
    display: block;
    font-weight: 600;
    color: #de7247;
    text-align: left;
    font-size: 18px;
    margin-left: 3px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    padding-left: 2.5%;
  }

  button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .submitted-data {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    background-color: #e9f6e9;
  }

  .submitted-data h2 {
    font-size: 1.2em;
    color: #4caf50;
  }

  .form_meta {
    font-size: 30px;
    font-weight: 600;
  }
  #hack_ultra_pro_max{
    color:red;
    margin-left:4px;
  }

  
.bubbles{
  position:absolute;
  width:0%;
  height: 0%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}

}

