.trustpilot-container {
    position: relative;
    margin: 14.5% auto;
    width: 240px;
    padding: 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 5px;
    }
    
    .trustpilot-button {
      background-color: white;
      color: #0897c3;
      padding: 1px 10px;
      border-radius: 4px;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      transition: background-color 0.3s ease;
      display: flex;
    }

    .trustpilot-container p{
        padding-top: 0px;
        font-size: 17px;
        margin: 7px auto;
      }
    
      .trustpilot-container p:hover {
        font-size: 17.5px;
      }
    
      .trustpilot-container img {
        width: 100px;
        padding: 5px 5px;
    }
    @media (max-width: 599px) {
        .trustpilot-container {
          margin: 14.5% auto;
          width: fit-content;
          }

    }
